title {
  font-family: 'Trebuchet MS';
  font-size: xx-large;
}
h1 {
  text-align: center;
}
.instructions {
  text-align: center;
  font-size: x-large;
  font-style: italic;
}
form {
  text-align: center;
}
.answer {
  text-align: center
}
