title {
  font-family: 'Trebuchet MS';
}
h1 {
  text-align: center;
}
.instructions {
  text-align: center;
  font-size: 100%;
  font-style: italic;
}
form {
  text-align: center;
}
.answer {
  text-align: center
}
